*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%vh;
    height: 100%vh;
    display: flex;
    background-color: beige;
    gap: 5px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
#box3{
/* order: 1; */
/* order: -1; */
/* flex-grow: 1; */
}
#box2{
/* order: 1; */
/* order: -1; */
/* flex-grow: 2; */
/* flex-shrink: 2; */
/* flex-basis: auto; */
    flex: 1 2 3;
}