 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            width: 100%;
            height: 1000px;
            display: flex;
            gap: 5px;
            border: 2px solid blue;
            align-items: center;
            /* flex-wrap: nowrap; */
            /* flex-wrap: wrap; */
            /* flex-direction: column-reverse; */
            /* flex-direction: column;
            flex-direction: row; */
            /* flex-direction: row-reverse; */
            flex-flow: row;
            justify-content: center;
            
            
        }
        .box{
            margin-left: 8px;
            width: 100px;
            height: 100px;
            background-color: #299764;
            border: 2px solid black;
        }